<html xmlns="http://www.w3.org/1999/xhtml">

    <main class="p-3">
      <table
        class="table table-striped p-5"
        width="80%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        bgcolor="#FFFFFF"
      >
        <thead class="thead-light">
          <tr class="tb-sticky">
            <th>STT</th>
            <th>Tên hoa</th>
            <th class="text-right">Đơn giá</th>
            <th class="text-right">Số lượng</th>
            <th class="text-right">Thành tiền</th>
            <th class="text-right">Thao tác</th>
          </tr>
        </thead>
        {{#each cart}}
        <tr>
          <th>{{ sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td class="text-right">{{this.price}}</td>
          <td class="d-flex justify-content-end">
            <a href="/cart/decrease/{{this._id}}">
              <buton class="btn btn-info" style="font-weight: bold">-</buton>
            </a>
            <p class="mr-3 ml-3">{{this.soluong}}</p>
            <a href="/cart/increase/{{this._id}}">
              <buton class="btn btn-info" style="font-weight: bold">+</buton>
            </a>
          </td>
          <td  class="text-right">{{tich this.price this.soluong}}</td>
          <td class="d-flex justify-content-end">
            <a href="/cart/remove/{{this._id}}">
              <button class="btn btn-danger">Xóa</button>
            </a>
          </td>
        </tr>
        {{/each}}

        <thead class="thead-light">
          <tr>
            <th colspan="4">Tổng tiền</th>
            <th  class="text-right">{{total}}</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <form id="" name="" method="post" action="/cart/order" style="font-size: 1.25rem;"
        class="container">
        <div align="center" style="font-size: 2.5rem;">Thông tin đặt hàng</div>
        <div class="form-group">
          <input 
            name="idkh" type="hidden" 
            id="khid" class="form-control" 
            value="{{user._id}}"/>
        </div>
        <div class="form-group">
          <label for="fullname">Họ tên</label>
          <input 
            name="fullName" type="text" 
            id="fullname" class="form-control" 
            value="{{user.fullName}}"
            required/>
        </div>
        <div class="form-group">
          <label for="address">Địa chỉ giao hàng</label>
          <input 
            name="address" type="text" 
            id="address" class="form-control" 
            value="{{user.address}}"
            required/>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Điện thoại</label>
          <input 
            name="phoneNumber" type="text" 
            id="phoneNumber" class="form-control" 
            value="{{user.phoneNumber}}"
            required/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            name="email" type="text" 
            id="email" class="form-control" 
            value="{{user.email}}"
            required/>
        </div>
        
        <div style="display: flex; flex-direction: column; align-items: center;">
          <button type="submit" class="btn btn-success w-100">Đặt hàng</button>
        </div>
      </form>
    </main>
