<html xmlns="http://www.w3.org/1999/xhtml">

    <main class="p-3">
      <table
        class="table table-striped p-5"
        width="80%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        bgcolor="#FFFFFF"
      >
        <thead class="thead-light">
          <tr class="tb-sticky">
            <th>STT</th>
            <th>Tên hoa</th>
            <th class="text-right">Đơn giá</th>
            <th class="text-right">Số lượng</th>
            <th class="text-right">Thành tiền</th>
          </tr>
        </thead>
        {{#each dsmh}}
        <tr>
          <th>{{ sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td class="text-right">{{this.price}}</td>
          <td class="d-flex justify-content-end">
            {{this.soluong}}
          </td>
          <td  class="text-right">{{tich this.soluong this.price}}</td>
        </tr>
        {{/each}}

        <thead class="thead-light">
          <tr>
            <th colspan="4">Tổng tiền</th>
            <th  class="text-right">{{bill.total}}</th>
          </tr>
        </thead>
      </table>
    </main>
