<html xmlns="http://www.w3.org/1999/xhtml">

    <div class="card mt-4 mb-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/{{flowers.image}}" class="card-img-top" alt="" style="height:205px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Tên hoa: </b>{{flowers.name}}</h5>
              <p class="card-text"><b>Mã hoa: </b>{{flowers.category}}</p>
              <p class="card-text"><b>Mô tả: </b>{{flowers.description}}</p>
              <p class="card-text"><b>Giá bán: </b>{{flowers.price}}</p>
              <a href="/addCart/{{flowers._id}}">
                <button type="button" class="btn btn-success">Thêm vào giỏ hàng</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    