<html xmlns="http://www.w3.org/1999/xhtml"> 
    <main>
      <table class="mt-1" width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
          <tr bgcolor="#F4FBEB">
              <td valign="top" bgcolor="#F4FBEB" style="width: 250px;">
                  <div class="list-group m-1">
                          <a href="" class="list-group-item list-group-item-action">
                              Hoa Xuân
                          </a>
                  </div>
                  <hr class="m-2">
                  <div class="m-1 p-1 card">
                    <p><b>Thông tin giỏ hàng</b></p>
                    <p><b>Số lượng:</b>  0 </p>
                    <p><b>Tổng tiền:</b> 0VND  </p>
                    <a href="/cart" class="btn btn-info text-white">Đến giỏ hàng</a>
                  </div>
              </td>
              <td colspan="3" valign="top" bgcolor="#FFFFFF">
                      <h1>Không tìm thấy hoa</h1>
                  <div class="container">
                    <div class="row">
                    {{#each flowers}}
                    <div class="col-sm-3 mt-4">
                        <div class="card" style="width: 12rem;">
                        <img src="images/{{this.image}}" class="card-img-top" alt="" style="height:180px">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/page-detail/{{this._id}}" style="text-decoration:none">{{this.name}}</a></h5>
                            <p class="card-text">{{this.price}}</p>
                            <a href="/page-detail/{{this._id}}" class="btn btn-outline-info">Mua Ngay</a>
                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        </div>
                    </div>
                    {{/each}}
                    </div>
                </div>
                  </table>
              </td>
          </tr>
      </table>
    </main>
    
