<html xmlns="http://www.w3.org/1999/xhtml">
    
    <main class="p-3">
      <a href="/create" >
        <button class="btn btn-success mb-2">Thêm mới</button>
      </a>
      <table class="table table-striped p-5" width="80%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <thead class="thead-light" >
          <tr class="tb-sticky">
            <th>Tên hoa</th>
            <th>Mã loại</th>
            <th>Giá bán</th>
            <th>Hình</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        
        {{#each flowers}}
          <tr>
            {{!-- <th>1</th> --}}
            <td> {{this.name}} </td>
            <td> {{this.category}} </td>
            <td> {{this.price}} </td>
            <td> <img src="/images/{{this.image}}" alt="ảnh hóa"> </td>
            <td> {{this.description}}</td> </td>
            <td class="d-flex">
              <a class="mr-2" href="/update/{{this._id}}>">
                <button class="btn btn-primary">Sửa</button>
              </a>
              <a class="mr-2" href="/delete/{{this._id}}>">
                <button class="btn btn-danger">Xóa</button>
              </a>
            </td>
          </tr>
        {{/each}}
      </table>
    </main>
    