<html xmlns="http://www.w3.org/1999/xhtml">


  <main class="p-3">
    <table class="table table-striped p-5" width="80%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <thead class="thead-light">
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Địa chỉ</th>
          <th class="text-right">Điện thoại</th>
          <th class="text-right">Tổng tiền</th>
          <th class="text-right">Thao tác</th>
        </tr>
      </thead>

      {{#each listBill}}
        <tr>
          <th>
            {{ sum @index 1}}
          </th>
          <td>
            {{this.fullName}}
          </td>
          <td>
            {{this.address}}
          </td>
          <td class="text-right">
            {{this.phoneNumber}}
          </td>
            <td class="text-right">
              {{this.total}}
            </td>
            <td class="d-flex justify-content-end">
              <a class="mr-2" href="/bill/{{this._id}}">
                <button class="btn btn-primary">Chi tiết</button>
              </a>
            </td>
        </tr>
        {{/each}}
    </table>
  </main>
