<html xmlns="http://www.w3.org/1999/xhtml">
    
    <form class="w-75 m-auto p-5" method="POST" action="/hoa/update/{{flower._id}}?_method=PUT" style="font-size: 1.25rem;">
        <div align="center" style="font-size: 2.5rem;">Cập nhật hoa</div>
        <div class="form-group">
          <label for="tenhoa">Tên hoa</label>
          <input name="name" type="text" id="tenhoa" class="form-control" 
                placeholder="Nhập mã loại. Ví dụ: Hoa-Cuoi" required 
                value="{{flower.name}}"/>
        </div>

        <div class="form-group">
          <label for="maloai">Loại hoa</label>
          <select class="form-control" id="maloai" name="category">
              <option value="Hoa-Cuc">Hoa Cúc</option>
              <option value="Hoa-Cuoi">Hoa Cưới</option>
              <option value="Hoa-Hong">Hoa Hồng</option>
              <option value="Hoa-Xuan">Hoa Xuân</option> 
          </select>
        </div>

        <div class="form-group">
          <label for="giaban">Giá bán</label>
          <input name="price" type="number" id="giaban" class="form-control" 
                placeholder="Nhập giá bán" required
                value="{{flower.price}}"/>
        </div>

        <div class="form-group">
          <label for="mota">Mô tả</label>
          <input name="description" type="text" id="mota" class="form-control" 
                placeholder="Nhập mô tả cho hoa" required
                value="{{flower.description}}"/>
        </div>

        <div class="form-group">
          <label for="hinh">Hình</label>
          <input name="image" type="text" id="hinh" class="form-control" 
                placeholder="Nhập đường dẫn hình" required
                value="{{flower.image}}"/>
        </div>

        

        <div style="display: flex; flex-direction: column; align-items: center;">
          <button type="submit" class="btn btn-success w-100">Cập nhật</button>
        </div>
      </form>
    